.c1{
    display: flex;
    justify-content: space-between;
}
.container{
    padding-left: 10px;
    width: 30%;
    margin: 0 auto;
    border:2px solid black ;
    background-color: rgb(249, 245, 245);

}
.c1 button{
    background-color: yellow;
    margin-left: 10px;
    margin-right: 10px;
}
.c2{
    display: flex;

}
.c2 p{
    margin-left: 5px;
}